* {
  margin: 0;
  padding: 0;
}

body, input, button {
  font-family: Tahoma, sans-serif;
  letter-spacing: 0.01em;
}

strong {
  font-weight: 600;
}

object {
  max-width: 100%;
}

h1,h2,h3,h4,h5,h6,p,ul,ol,dl,
div.paragraph {
  margin: 1em auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

div.list.multiple div {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  padding-right: 0;
}

div.list.multiple dl {
  margin: 1em;
  padding: 0.5em 1em;
}

div.paragraph > p,
div.paragraph > ul,
div.paragraph > ol,
div.paragraph > dl {
  padding-left: 0;
  padding-right: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

ul ul, ul ol, ul dl,
ol ul, ol ol, ol dl,
dl ul, dl ol, dl dl {
  margin: 0.5em 0;
  padding-left: 0;
  padding-right: 0;
}

li li {
  margin-left: 1rem;
}

div.list > ul,
div.list > ol,
div.list > dl {
  margin-top: 0;
  margin-bottom: 0;
}

div.list > ul > *:first-child,
div.list > ol > *:first-child,
div.list > dl > *:first-child {
  margin-top: 0;
}

h1, h2, h3, h4 {
  margin: 1.5rem auto 1rem;
}

button, input[type="submit"] {
  cursor: pointer;
}

button[disabled] {
  cursor: inherit;
  opacity: 0.6;
  color: inherit;
}

li, dd, dt {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

li, dd {
  margin-left: 2em;
}

#content, #header > *, #footer > * {
  max-width: 62rem;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

#content, #header {
  max-width: 62rem;
  margin: 0 auto;
}

#header ul {
  margin: 0;
  padding: 0;
  background: #C3C7D6;
  padding-left: 1em;
}

#header ul li {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0.5em 1em;
}

#header .error,
#header .success {
  color: white;
}

#header .error {
  background: red;
}

#header .success {
  background: green;
}


#header .top {
    padding: .01em 0;
}

p.motto {
    margin: 0;
    padding: 1em;
    background: #333;
    color: white;
}

p.motto a {
  color: white;
}

dl.zadosti dt {
    float: left;
    margin-right: 1em;
    display: list-item;
    margin-left: 1.5em;
    clear: both;
}

dl.zadosti dd {margin-top: 0;margin-bottom: 0;}

dl.zadosti dd button {
    vertical-align: -0.6em;
    margin: 0 .25em;
    padding: .15em .5em;
    border-width: 0.1em;
    border-style: solid;
}

button.deny {
    background-color: #EC3C3C;
    border-color: #962D2D;
}

button.accept {
    background: #1DB328;
    border-color: #23842A;
}

#header ul li {
    display: inline-block;
    padding: 0;
}

#header ul li a {
    display: inline-block;
    padding: 0.5em 1em;
    background: #A8AEC3;
}

ul.uprava-planu li {
    list-style: none;
    display: inline-block;
    margin: 0;
    margin-right: .5em;
}

.seznam-zaznamu dl,
.seznam-zaznamu dt,
.seznam-zaznamu dd {
    display: inline-block;
    margin: 0;
}

.seznam-zaznamu dl {
    margin-left: 1em;
}

.seznam-zaznamu dt:after {
    content: ":";
    margin-right: 0.25em;
}

.seznam-zaznamu dt,
.seznam-zaznamu dd {
  background: #C3C7D6;
  padding: .2em .5em;
}

.seznam-zaznamu dd {
    padding-left: 0;
}

.seznam-zaznamu dt {
    padding-right: 0;
}
